[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Aa]ssets/[Ss]amples/
[Aa]ssets/[Ss]amples.meta
*.bak
*.bak.meta

.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

*.apk
*.aab
*.keystore
*.jks

.DS_Store
Thumbs.db
